body {
	background-color: #E6E6E6;
}

.header {
	font-family: "Century Gothic", Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 5px;
}

.header a {
	color: #525252;
	
    transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    
    display: inline;
    font-size: 32px;
    text-decoration: none
}

.header a:hover {
    color: #B3B3B3;
}
      
.header p {
	color: gray;
	
	letter-spacing: 1px;
	font-size: smaller;
}

#headerimg {
	height: 205px;
	width: 80%;
	
	margin-top: 1%;
	
	border-top: #808080 15px solid;
	border-bottom: #808080 15px solid;
	
	border-radius: 3px;
	
	opacity: 1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

#headerimg:hover {
	opacity: 0.8;
}

#content {
	margin-top: 3%;
	margin-left: 15%;
}

#blogcontent {
	overflow: hidden;
}

.blogbody {
	width: 56%;
	
	margin-top: 2%;
	margin-right: 1%;
	margin-bottom: 2%;
	
	float:left;
}

.blogpost {
    margin-bottom: 3%;
    
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    
    background-color: #D6D6D6;
	color: #262626;
	
	-moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow: inset 0 0 3px #000000;
    
    border-radius: 3px;
    
    line-height: 1.5;
    
    transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
}

.blogpost:hover {
    background-color: #F2F2F2;
}

.blogposttitle {
	font-size: 20px;
	font-family: "Century Gothic", Verdana, Geneva, Arial, Helvetica, sans-serif;
	
	line-height: 0.5;
}

.blogposttag {
	font-family: "Century Gothic";
	font-size: 12px;
	
	line-height: 0.5;
}

.sidebar {
	width: 20%;

	margin-top: 2%;
	
	padding: 1.5%;
	
	overflow: hidden;
	
	background-color: #A3A3A3;
	
	-moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000; 
    box-shadow: inset 0 0 3px #000000;
    
    border-radius: 3px;
    
    transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    
    font-family: "Century Gothic", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    
    text-align: justify;
}

.sidebar:hover {
    background-color: #858585;
}

.footer {
    margin: 0 auto;
    
    color: rgb(123,123,123);
    
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	
	text-decoration: none;
}
