body {
	background-color: #E6E6E6
}

.header {
	margin-top: 3%;
	margin-left: 15%;
    
	font-family: Verdana;
}

.header h2 {
	color: #A8A8A8;
}

.header h4 {
	color: gray;
	
	font-size: 14px;
	font-style: italic;
}

.header img {
	height: 205px;
	width: 59%;
	
	border-top: #808080 15px groove;
	border-bottom: #808080 15px groove;
}

.blogbody {
	width: 50%;
	margin-top: 3%;
	margin-left: 15%;

}

.blogpost {
	background-color: #C2C2C2;
	
	
	font-family: Verdana;
}

.footer {
	width: 235px;
    margin: 0 auto;
    
    color: rgb(123,123,123);
	font-family: Verdana;
	font-size: 10px;
}
